.item {
  margin-bottom: 8px;
  padding: 10px 14px 9px;
  border-color: rgba(37, 42, 44, 1);
  border-width: 1px;
  border-style: solid;
  background: #404749;
}

.item .address {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #969c9f;
}

.bag {
  padding: 15px 0 0;
}

.bag .tag {
  margin-right: 12px;
  padding: 7px 9px 6px 10px;
  background: rgba(40, 44, 45, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #969c9f;
}
